<table id="transition-function">
        <tr>
                <th>&Delta;</th>
                {% for symbol in alphabet %}
                        <th>{{ symbol|replace("&", "&epsilon;") }}</th>
                {% endfor %}
        </tr>
        {% for state in states %}
                <tr>
                        {% if state == initial and state in final_states %}
                                <td><b><i>q<sub>{{state}}</sub></i></b></td>
                        {% elif state in final_states %}
                                <td><b>q<sub>{{state}}</sub></b></td>
                        {% elif state == initial %}
                                <td><i>q<sub>{{state}}</sub></i></td>
                        {% else %}
                                <td>q<sub>{{state}}</sub></td>
                        {% endif %}
                        {% for symbol in alphabet %}
                                {% if transition[state, symbol] %}
                                        <td>&#123;q<sub>{{ transition[state, symbol]|join('</sub>, q<sub>') }}</sub>&#125;</td>
                                {% else %}
                                        <td>&#8709;</td>
                                {% endif %}
                        {% endfor %}
                </tr>
        {% endfor  %}
</table>